/* --- メインビジュアル --- */
#main-visual {
  position: relative;
  .slide-main {
    overflow: hidden;
    text-align: center;
    background: url('../../img/main-back1.png') no-repeat;
    background-size: auto 100%;
    width: 75%;
    @include media(sp) {
      background: url('../../img/main-back1.png') no-repeat -20%;
      background-size: auto 100%;
      width: 90%;
    }
    height: 65vh;
    margin-left: auto;
    padding-left: 4rem;
    .slideshow {
      position: relative;
      .slick-dots {
        display: inline-block;
        position: absolute;
        width: auto;
        bottom: 1.0rem;
        right: 3.0rem;
        li button:before {
          content: "";
          width: 2rem;
          height: 0.3rem;
          background-color: $white;
          opacity: 1.0;
          cursor: pointer;
        }
        li.slick-active button::before {
          background-color: $d-green;
        }
      }
    }
    img{
      display: block;
      height: 65vh;
      object-fit: cover;
      border-radius: 5% 0px 0px 20% / 40% 0px 0px 60%;
      @include media(sp) {
        border-radius: 100% 0px 0px 100% / 100% 0px 0px 100%;
        object-position: 60%;
      }
    }
  }

  .heading {
    font-family: $font-ship;
    position: absolute;
    left: 8%;
    top: 10rem;
    @include media(sp) {
      top: 6rem;
    }
    @include z(m-text);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    h1 {
      border-right: dashed 1px $m-green;
      font-size: 2rem;
      @include media(sp) {
        font-size: 1.5rem;
      }
      line-height: 2em;
      letter-spacing: 0.3em;
    }
  }
}

/* --- サブビジュアル --- */
#sub-visual {
  position: relative;
  margin-bottom: 4rem;
  .heading {
    position: absolute;
    left: 8%;
    bottom: 15vh;
    @include media(sp) {
      left: 5%;
      bottom: 0;
    }
    @include z(m-text);
    h1 {
      line-height: 2em;
    }
    p {
      font-size: clamp(16px, 1.7vw, 18px);
      color: $m-green;
      border-bottom: dashed 1px $m-green;
    }
  }

  .image {
    overflow: hidden;
    text-align: center;
    background: url('../../img/main-back2.png') no-repeat 20% center;
    width: 75%;
    @include media(sp) {
      background: url('../../img/main-back3.png') no-repeat center;
      background-size: auto 100%;
      width: 95%;
    }
    height: 35vh;
    margin-left: auto;
    padding-left: 4rem;
    img{
      display: block;
      margin-left: auto;
      height: 35vh;
      object-fit: cover;
      border-radius: 10% 0px 0px 5% / 40% 0px 0px 40%;
      @include media(sp) {
        border-radius: 0px 0px 0px 100% / 0px 0px 0px 100%;
        object-position: 60%;
      }
    }
  }
}