/*--- Aboutページ ---*/
/*--- ヘッダー ---*/
@include header(sub);

/* --- コンセプト, 施術の流れ --- */
.concept, .flow{
  position: relative;
  padding-bottom: 8rem;
  background: url('../../img/back-icon1.png') bottom right no-repeat;
  @include media(sp) {
    background-size: 50% 20%;
  }
  > h1 {
    position: absolute;
    top: 4rem;
    left: 10%;
    font-size: 8.5rem;
    color: $l-gray;
    opacity: 0.3;
    @include z(h-text);
    @include media(sp) {
      top: 22rem;
      left: 5%;
      font-size: 5rem;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 40% 60%;
    > div:nth-of-type(2) {
      text-align: right;
    }
    @include media(sp) {
      grid-template-columns: 1fr;
      > div:nth-of-type(1) {
        order: 2;
      }
      > div:nth-of-type(2) {
        order: 1;
      }
    }
    h2:nth-of-type(1) {
      @include headingIcon();
    }
    h1, h2:nth-of-type(2) {
      padding-bottom: 2rem;
    }
    p {
      padding-bottom: 1rem;
    }
    ol {
      padding-top: 2rem;
      line-height: 3em;
      @include media(sp) {
        padding-top: 1rem;
        margin-left: 1rem;
      }
    }
    .btn {
      margin-top: 1rem;
      text-align: right;
      @include media(sp) {
        text-align: center;
      }
    }
  }
}

/*--- 根本改善のポイント ---*/
.point {
  padding-bottom: 8rem;
  > h2 {
    text-align: center;
    padding-bottom: 2rem;
    &:nth-of-type(1) {
      @include headerDeco();
    }
  }
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    @include media(tb) {
      grid-template-columns: 1fr;
    }
    img {
      border-radius: 20px;
      margin-bottom: 1rem;
    }
    h3 {
      margin-bottom: 1rem;
    }
  }
}