@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Shippori+Mincho&display=swap");
.category-tag {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  background-color: #468459;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 0.9rem;
}

.wave::after, .wave::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 300% 150%;
}

.wave {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #F0F5E1;
  top: 0;
}
.wave::before {
  width: 58%;
  height: 100%;
  background-color: #F0F5E1;
  right: 0;
  top: -30%;
}
.wave::after {
  width: 58%;
  height: 100%;
  background-color: #FFFFFF;
  left: 0;
  top: -70%;
}

.breadcrumb a {
  color: #0C4324;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination .nav-links {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.pagination .current, .pagination a {
  text-align: center;
  padding: 0 3px;
}
.pagination .current {
  background-color: #468459;
  color: #FFFFFF;
}

ul.page-numbers {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
ul.page-numbers .current, ul.page-numbers a {
  text-align: center;
  padding: 0 3px;
}
ul.page-numbers .current {
  background-color: #468459;
  color: #FFFFFF;
}

/* --- 共通CSS --- */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #0C4324;
}
a:hover {
  color: #0C4324;
}

.link a, .nav_menu a, .breadcrumb a, .cat-item a {
  display: inline-block;
  position: relative;
  padding: 0.7rem 0;
}
.link a::after, .nav_menu a::after, .breadcrumb a::after, .cat-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #0C4324;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: left top;
}
.link a:hover::after, .nav_menu a:hover::after, .breadcrumb a:hover::after, .cat-item a:hover::after {
  transform: scale(1, 1);
}

h1, h2, h3, h4 {
  color: #468459;
}

h1 {
  font-size: clamp(24px, 2.8vw, 32px);
}

h2 {
  font-size: clamp(24px, 2.6vw, 28px);
}

h3 {
  font-size: 24px;
}

.top-btn {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  z-index: 50;
  display: none;
}
@media screen and (max-width: 767px) {
  .top-btn {
    width: 3rem;
    height: 3rem;
  }
}

.wrap-100 {
  margin: 0 auto;
  width: 100%;
}

.wrap-95 {
  margin: 0 auto;
  width: 95%;
}

.wrap-80 {
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
}
@media screen and (max-width: 767px) {
  .wrap-80 {
    width: 90%;
  }
}

.wrap-60 {
  margin: 0 auto;
  width: 60%;
  max-width: 960px;
}
@media screen and (max-width: 899px) {
  .wrap-60 {
    width: 80%;
  }
}

/* --- メインビジュアル --- */
#main-visual {
  position: relative;
}
#main-visual .slide-main {
  overflow: hidden;
  text-align: center;
  background: url("../../assets/img//main-back1.png") no-repeat;
  background-size: auto 100%;
  width: 75%;
  height: 65vh;
  margin-left: auto;
  padding-left: 4rem;
}
@media screen and (max-width: 767px) {
  #main-visual .slide-main {
    background: url("../../assets/img//main-back1.png") no-repeat -20%;
    background-size: auto 100%;
    width: 90%;
  }
}
#main-visual .slide-main .slideshow {
  position: relative;
}
#main-visual .slide-main .slideshow .slick-dots {
  display: inline-block;
  position: absolute;
  width: auto;
  bottom: 1rem;
  right: 3rem;
}
#main-visual .slide-main .slideshow .slick-dots li button:before {
  content: "";
  width: 2rem;
  height: 0.3rem;
  background-color: #FFFFFF;
  opacity: 1;
  cursor: pointer;
}
#main-visual .slide-main .slideshow .slick-dots li.slick-active button::before {
  background-color: #0C4324;
}
#main-visual .slide-main img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 65vh;
  border-radius: 5% 0px 0px 20%/40% 0px 0px 60%;
}
@media screen and (max-width: 767px) {
  #main-visual .slide-main img {
    border-radius: 100% 0px 0px 100%/100% 0px 0px 100%;
    -o-object-position: 60%;
       object-position: 60%;
  }
}
#main-visual .heading {
  font-family: "Shippori Mincho", serif;
  position: absolute;
  top: 7em;
  z-index: 10;
  writing-mode: vertical-rl;
  background: url("../../assets/img//main-text1.png") top right no-repeat, url("../../assets/img//main-text2.png") bottom left no-repeat;
  padding: 4rem;
}
@media screen and (max-width: 899px) {
  #main-visual .heading {
    left: 0;
    top: 5rem;
  }
}
@media screen and (max-width: 767px) {
  #main-visual .heading {
    left: -5%;
    top: 2rem;
  }
}
#main-visual .heading h1 {
  border-right: dashed 1px #468459;
  font-size: 2rem;
  line-height: 2em;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 767px) {
  #main-visual .heading h1 {
    font-size: 1.4rem;
  }
}

/* --- サブビジュアル --- */
#sub-visual {
  padding-top: 4rem;
  position: relative;
}
#sub-visual .heading {
  position: absolute;
  left: 8%;
  bottom: 10vh;
  padding: 2rem;
  background: url("../../assets/img//main-text2.png") center center no-repeat;
  z-index: 10;
}
@media screen and (max-width: 899px) {
  #sub-visual .heading {
    left: 5%;
  }
}
@media screen and (max-width: 767px) {
  #sub-visual .heading {
    left: 0;
    bottom: -2rem;
  }
}
#sub-visual .heading h1 {
  line-height: 2em;
}
#sub-visual .heading p {
  font-size: clamp(16px, 1.7vw, 18px);
  color: #468459;
  border-bottom: dashed 1px #468459;
}
#sub-visual .image {
  overflow: hidden;
  text-align: center;
  background: url("../../assets/img//main-back2.png") no-repeat 20% center;
  width: 75%;
  height: 35vh;
  margin-left: auto;
  padding-left: 4rem;
}
@media screen and (max-width: 767px) {
  #sub-visual .image {
    background: url("../../assets/img//main-back3.png") no-repeat center;
    background-size: auto 100%;
    width: 95%;
  }
}
#sub-visual .image img {
  display: block;
  margin-left: auto;
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  border-radius: 5% 0px 0px 3%/50% 0px 0px 50%;
}
@media screen and (max-width: 899px) {
  #sub-visual .image img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #sub-visual .image img {
    border-radius: 0px 0px 0px 100%/0px 0px 0px 100%;
    -o-object-position: 60%;
       object-position: 60%;
  }
}

/*--- トップページ ---*/
/*--- ヘッダー ---*/
#header-top {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  #header-top {
    padding: 0.5rem 0;
  }
}
#header-top > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-top .nav-pc > ul {
  display: flex;
  align-items: center;
  gap: 2em;
  /* お問い合わせボタン */
}
#header-top .nav-pc > ul a:not(.inquiry a) {
  color: #FFFFFF;
}
#header-top .nav-pc > ul .inquiry {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #0C4324;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 899px) {
  #header-top .nav-pc > ul .inquiry {
    display: block;
  }
}
#header-top .nav-pc > ul .inquiry a {
  color: #FFFFFF;
}
#header-top .nav-pc > ul .inquiry:hover {
  background-color: #1B9240;
}
@media screen and (max-width: 899px) {
  #header-top .nav-pc > ul {
    display: none;
  }
}
#header-top .hamburger {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
@media screen and (max-width: 899px) {
  #header-top .hamburger {
    display: flex;
  }
}
#header-top .hamburger span {
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 2px;
  background-color: #96C519;
  transition: all 0.3s;
}
#header-top .hamburger span:nth-of-type(1) {
  top: 1rem;
}
#header-top .hamburger span:nth-of-type(2) {
  top: 1.5rem;
  opacity: 1;
}
#header-top .hamburger span:nth-of-type(3) {
  top: 2rem;
}
#header-top .hamburger.on span:nth-of-type(1) {
  top: 1rem;
  transform: translateY(0.5rem) rotate(-45deg);
}
#header-top .hamburger.on span:nth-of-type(2) {
  opacity: 0;
}
#header-top .hamburger.on span:nth-of-type(3) {
  top: 1rem;
  transform: translateY(0.5rem) rotate(45deg);
}

.nav-sp {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 70;
  width: 100%;
  height: 100vh;
}
.nav-sp ul {
  padding-left: 0px;
}
.nav-sp li {
  /* お問い合わせボタン */
}
.nav-sp li .inquiry {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #0C4324;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 899px) {
  .nav-sp li .inquiry {
    display: block;
  }
}
.nav-sp li .inquiry a {
  color: #FFFFFF;
}
.nav-sp li .inquiry:hover {
  background-color: #1B9240;
}
.nav-sp li:last-of-type a {
  color: #FFFFFF;
  margin-bottom: 0;
}
.nav-sp .menu {
  padding: 6rem 2rem 0;
  background-color: #FFFFFF;
  height: 80%;
}
.nav-sp .menu .inquiry {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #0C4324;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 899px) {
  .nav-sp .menu .inquiry {
    display: block;
  }
}
.nav-sp .menu .inquiry a {
  color: #FFFFFF;
}
.nav-sp .menu .inquiry:hover {
  background-color: #1B9240;
}
.nav-sp .menu h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.nav-sp .menu a {
  color: #0C4324;
  display: inline-block;
  margin-bottom: 1rem;
}
.nav-sp .back {
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* --- お知らせ --- */
#news {
  padding: 1rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 899px) {
  #news {
    flex-direction: column;
  }
}
#news .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 20%;
}
@media screen and (max-width: 899px) {
  #news .heading {
    width: 100%;
  }
}
#news .heading > span {
  color: #0C4324;
}
#news .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 899px) {
  #news .title {
    flex-direction: column;
    row-gap: 2rem;
  }
}
#news .title > dl {
  width: 100%;
  display: flex;
  gap: 2rem;
}
#news .title > dl .business {
  margin-left: 0.5rem;
}
@media screen and (max-width: 899px) {
  #news .title > dl .business {
    display: block;
    margin-top: 0.5rem;
  }
}
#news .link {
  text-align: right;
  width: 40%;
}
@media screen and (max-width: 899px) {
  #news .link {
    width: 100%;
  }
}
#news .link a {
  color: #0C4324;
}

/* --- コンセプト（トップページ） --- */
#concept {
  position: relative;
  margin-bottom: 4rem;
  background: url("../../assets/img//back-icon1.png") right bottom no-repeat;
  padding-bottom: 4rem;
}
@media screen and (max-width: 767px) {
  #concept {
    background-size: 50% 20%;
  }
}
#concept > h1 {
  position: absolute;
  top: 4rem;
  left: 10%;
  z-index: -1;
  font-size: 8.5rem;
  color: #DAE2C2;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  #concept > h1 {
    top: 22rem;
    left: 5%;
    font-size: 5rem;
  }
}
#concept .content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 4rem;
}
#concept .content > div:nth-of-type(2) {
  text-align: right;
}
@media screen and (max-width: 767px) {
  #concept .content {
    grid-template-columns: 1fr;
  }
  #concept .content > div:nth-of-type(1) {
    order: 2;
  }
  #concept .content > div:nth-of-type(2) {
    order: 1;
  }
}
#concept .content h2:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  padding-right: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//heading-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#concept .content h1, #concept .content h2:nth-of-type(2) {
  padding-bottom: 2rem;
}
#concept .content p {
  padding-bottom: 1rem;
}
#concept .content .next-btn {
  margin-top: 1rem;
  text-align: right;
}
@media screen and (max-width: 767px) {
  #concept .content .next-btn {
    text-align: center;
  }
}
#concept .content .next-btn .detail {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1.5rem;
  color: #0C4324;
  border: solid 1px #0C4324;
  border-radius: 5px;
  transition: all 0.3s;
}
#concept .content .next-btn .detail:hover {
  color: #FFFFFF;
  border: solid 1px #1B9240;
  background-color: #1B9240;
}

/*--- コース ---*/
#course {
  position: relative;
  padding-bottom: 8rem;
  background: #F0F5E1 url("../../assets/img//back-icon2.png") right bottom 10% no-repeat;
}
@media screen and (max-width: 767px) {
  #course {
    background-size: 50% 20%;
  }
}
#course > h1 {
  position: absolute;
  top: 4rem;
  left: 10%;
  z-index: 1;
  font-size: 8.5rem;
  color: #DAE2C2;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  #course > h1 {
    top: 22rem;
    left: 5%;
    font-size: 5rem;
  }
}
#course > h2 {
  text-align: center;
  padding-bottom: 2rem;
}
#course > h2:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  padding-right: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #course > h2:nth-of-type(1)::before {
    padding-right: 1em;
  }
}
#course > h2:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  padding-left: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #course > h2:nth-of-type(1)::after {
    padding-left: 1em;
  }
}
#course .content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 767px) {
  #course .content {
    flex-direction: column;
    align-items: center;
  }
}
#course .content img, #course .content h3, #course .content ul {
  margin-bottom: 1rem;
}
#course .content img {
  border-radius: 20px;
}
#course .content li {
  margin-left: 2rem;
  line-height: 2rem;
}
#course .next-btn {
  margin-top: 1rem;
  text-align: center;
}
#course .next-btn .detail {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1.5rem;
  color: #0C4324;
  border: solid 1px #0C4324;
  border-radius: 5px;
  transition: all 0.3s;
}
#course .next-btn .detail:hover {
  color: #FFFFFF;
  border: solid 1px #1B9240;
  background-color: #1B9240;
}

/*--- お客様の声 ---*/
#voice .voice-main [class^=img-] {
  height: 20rem;
}
#voice .voice-main .img-1 {
  background: url("../img/slide-voice1.png") no-repeat center/cover;
}
#voice .voice-main .img-2 {
  background: url("../img/slide-voice2.png") no-repeat center/cover;
}
#voice .voice-main .img-3 {
  background: url("../img/slide-voice3.png") no-repeat center/cover;
}

#voice {
  padding-bottom: 8rem;
}
@media screen and (max-width: 767px) {
  #voice {
    padding-bottom: 4rem;
  }
}
#voice .voice-main {
  position: relative;
  padding: 17rem 0 0 0;
  height: 20rem;
}
#voice .voice-main .semi-circle {
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 640px;
  height: 8rem;
  border-radius: 100% 100% 0 0/200% 200% 0 0;
  background-color: #FFFFFF;
  z-index: 0;
}
@media screen and (max-width: 899px) {
  #voice .voice-main .semi-circle {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  #voice .voice-main .semi-circle {
    width: 80%;
    height: 6rem;
  }
}
#voice .voice-main .voice-slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20rem;
}
#voice .voice-main .voice-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
}
@media screen and (max-width: 767px) {
  #voice .voice-main .voice-slide img {
    -o-object-position: 50%;
       object-position: 50%;
  }
}
#voice .voice-main h2 {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media screen and (max-width: 767px) {
  #voice .voice-main h2 {
    font-size: 19px;
  }
}
#voice .voice-main h2::before {
  content: "";
  display: inline-block;
  padding-right: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #voice .voice-main h2::before {
    padding-right: 1em;
  }
}
#voice .voice-main h2::after {
  content: "";
  display: inline-block;
  padding-left: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #voice .voice-main h2::after {
    padding-left: 1em;
  }
}
#voice .wrap-60 > h2 {
  text-align: center;
  padding: 2rem;
}
#voice .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 899px) {
  #voice .content {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
#voice .content img {
  border-radius: 50% 50%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 899px) {
  #voice .content img {
    margin: 0 auto 1rem;
    width: 60%;
  }
}
#voice .content h3 {
  margin-bottom: 1rem;
}
#voice .next-btn {
  margin-top: 1rem;
  text-align: center;
}
#voice .next-btn .detail {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1.5rem;
  color: #0C4324;
  border: solid 1px #0C4324;
  border-radius: 5px;
  transition: all 0.3s;
}
#voice .next-btn .detail:hover {
  color: #FFFFFF;
  border: solid 1px #1B9240;
  background-color: #1B9240;
}

/*--- サブページ ---*/
/*--- ヘッダー ---*/
#header-sub {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  #header-sub {
    padding: 0.5rem 0;
  }
}
#header-sub > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-sub .nav-pc > ul {
  display: flex;
  align-items: center;
  gap: 2em;
  /* お問い合わせボタン */
}
#header-sub .nav-pc > ul a:not(.inquiry a) {
  color: #0C4324;
}
#header-sub .nav-pc > ul .inquiry {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #0C4324;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 899px) {
  #header-sub .nav-pc > ul .inquiry {
    display: block;
  }
}
#header-sub .nav-pc > ul .inquiry a {
  color: #FFFFFF;
}
#header-sub .nav-pc > ul .inquiry:hover {
  background-color: #1B9240;
}
@media screen and (max-width: 899px) {
  #header-sub .nav-pc > ul {
    display: none;
  }
}
#header-sub .hamburger {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
@media screen and (max-width: 899px) {
  #header-sub .hamburger {
    display: flex;
  }
}
#header-sub .hamburger span {
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 2px;
  background-color: #96C519;
  transition: all 0.3s;
}
#header-sub .hamburger span:nth-of-type(1) {
  top: 1rem;
}
#header-sub .hamburger span:nth-of-type(2) {
  top: 1.5rem;
  opacity: 1;
}
#header-sub .hamburger span:nth-of-type(3) {
  top: 2rem;
}
#header-sub .hamburger.on span:nth-of-type(1) {
  top: 1rem;
  transform: translateY(0.5rem) rotate(-45deg);
}
#header-sub .hamburger.on span:nth-of-type(2) {
  opacity: 0;
}
#header-sub .hamburger.on span:nth-of-type(3) {
  top: 1rem;
  transform: translateY(0.5rem) rotate(45deg);
}

.nav-sp {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 70;
  width: 100%;
  height: 100vh;
}
.nav-sp ul {
  padding-left: 0px;
}
.nav-sp li {
  /* お問い合わせボタン */
}
.nav-sp li .inquiry {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #0C4324;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 899px) {
  .nav-sp li .inquiry {
    display: block;
  }
}
.nav-sp li .inquiry a {
  color: #FFFFFF;
}
.nav-sp li .inquiry:hover {
  background-color: #1B9240;
}
.nav-sp li:last-of-type a {
  color: #FFFFFF;
  margin-bottom: 0;
}
.nav-sp .menu {
  padding: 6rem 2rem 0;
  background-color: #FFFFFF;
  height: 80%;
}
.nav-sp .menu .inquiry {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #0C4324;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 899px) {
  .nav-sp .menu .inquiry {
    display: block;
  }
}
.nav-sp .menu .inquiry a {
  color: #FFFFFF;
}
.nav-sp .menu .inquiry:hover {
  background-color: #1B9240;
}
.nav-sp .menu h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.nav-sp .menu a {
  color: #0C4324;
  display: inline-block;
  margin-bottom: 1rem;
}
.nav-sp .back {
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* --- コンセプト（Aboutページ） --- */
#about-page {
  /* --- コンセプト, 施術の流れ --- */
  /* --- 根本改善のポイント --- */
}
#about-page .concept, #about-page .flow {
  position: relative;
  margin-bottom: 4rem;
  background: url("../../assets/img//back-icon1.png") right bottom no-repeat;
  padding-bottom: 4rem;
  padding-top: 3rem;
}
@media screen and (max-width: 767px) {
  #about-page .concept, #about-page .flow {
    background-size: 50% 20%;
  }
}
#about-page .concept > h1, #about-page .flow > h1 {
  position: absolute;
  top: 4rem;
  left: 10%;
  z-index: -1;
  font-size: 8.5rem;
  color: #DAE2C2;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  #about-page .concept > h1, #about-page .flow > h1 {
    top: 22rem;
    left: 5%;
    font-size: 5rem;
  }
}
#about-page .concept .content, #about-page .flow .content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 4rem;
}
#about-page .concept .content > div:nth-of-type(2), #about-page .flow .content > div:nth-of-type(2) {
  text-align: right;
}
@media screen and (max-width: 767px) {
  #about-page .concept .content, #about-page .flow .content {
    grid-template-columns: 1fr;
  }
  #about-page .concept .content > div:nth-of-type(1), #about-page .flow .content > div:nth-of-type(1) {
    order: 2;
  }
  #about-page .concept .content > div:nth-of-type(2), #about-page .flow .content > div:nth-of-type(2) {
    order: 1;
  }
}
#about-page .concept .content h2:nth-of-type(1)::before, #about-page .flow .content h2:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  padding-right: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//heading-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#about-page .concept .content h1, #about-page .concept .content h2:nth-of-type(2), #about-page .flow .content h1, #about-page .flow .content h2:nth-of-type(2) {
  padding-bottom: 2rem;
}
#about-page .concept .content p, #about-page .flow .content p {
  padding-bottom: 1rem;
}
#about-page .concept .content .next-btn, #about-page .flow .content .next-btn {
  margin-top: 1rem;
  text-align: right;
  /* --- Flow用 --- */
}
@media screen and (max-width: 767px) {
  #about-page .concept .content .next-btn, #about-page .flow .content .next-btn {
    text-align: center;
  }
}
#about-page .concept .content .next-btn ol, #about-page .flow .content .next-btn ol {
  padding-top: 2rem;
  line-height: 3em;
}
@media screen and (max-width: 767px) {
  #about-page .concept .content .next-btn ol, #about-page .flow .content .next-btn ol {
    padding-top: 1rem;
    margin-left: 1rem;
  }
}
#about-page .point {
  padding-bottom: 8rem;
}
#about-page .point .wrap-60 > h2 {
  text-align: center;
  padding-bottom: 2rem;
}
#about-page .point .wrap-60 > h2:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  padding-right: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #about-page .point .wrap-60 > h2:nth-of-type(1)::before {
    padding-right: 1em;
  }
}
#about-page .point .wrap-60 > h2:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  padding-left: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #about-page .point .wrap-60 > h2:nth-of-type(1)::after {
    padding-left: 1em;
  }
}
#about-page .point .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
@media screen and (max-width: 899px) {
  #about-page .point .content {
    grid-template-columns: 1fr;
  }
}
#about-page .point .content img {
  border-radius: 20px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 899px) {
  #about-page .point .content img {
    margin: 0 auto 1rem;
    width: 60%;
  }
}
#about-page .point .content h3 {
  margin-bottom: 1rem;
}

/* --- コース・料金（Courseページ） --- */
#course-page {
  /* --- コース・料金 --- */
  /* --- 治療内容 --- */
}
#course-page li {
  list-style: disc;
  line-height: 2em;
}
#course-page .course {
  position: relative;
  padding-bottom: 8rem;
  background-color: #FAFAFA;
}
@media screen and (max-width: 767px) {
  #course-page .course {
    background-size: 50% 20%;
  }
}
#course-page .course > h1 {
  position: absolute;
  top: 4rem;
  left: 10%;
  z-index: 1;
  font-size: 8.5rem;
  color: #DAE2C2;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  #course-page .course > h1 {
    top: 22rem;
    left: 5%;
    font-size: 5rem;
  }
}
#course-page .course > h2 {
  text-align: center;
  padding-bottom: 2rem;
}
#course-page .course > h2:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  padding-right: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #course-page .course > h2:nth-of-type(1)::before {
    padding-right: 1em;
  }
}
#course-page .course > h2:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  padding-left: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #course-page .course > h2:nth-of-type(1)::after {
    padding-left: 1em;
  }
}
#course-page .course .content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 767px) {
  #course-page .course .content {
    flex-direction: column;
    align-items: center;
  }
}
#course-page .course .content img, #course-page .course .content h3, #course-page .course .content ul {
  margin-bottom: 1rem;
}
#course-page .course .content img {
  border-radius: 20px;
}
#course-page .course .content li {
  margin-left: 2rem;
  line-height: 2rem;
}
#course-page .insurance, #course-page .self-pay {
  position: relative;
  margin-bottom: 4rem;
}
@media screen and (max-width: 767px) {
  #course-page .insurance, #course-page .self-pay {
    background-size: 50% 20%;
  }
}
#course-page .insurance > h1, #course-page .self-pay > h1 {
  position: absolute;
  top: 4rem;
  left: 10%;
  z-index: -1;
  font-size: 8.5rem;
  color: #DAE2C2;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  #course-page .insurance > h1, #course-page .self-pay > h1 {
    top: 22rem;
    left: 5%;
    font-size: 5rem;
  }
}
#course-page .insurance .content, #course-page .self-pay .content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 4rem;
}
#course-page .insurance .content > div:nth-of-type(2), #course-page .self-pay .content > div:nth-of-type(2) {
  text-align: right;
}
@media screen and (max-width: 767px) {
  #course-page .insurance .content, #course-page .self-pay .content {
    grid-template-columns: 1fr;
  }
  #course-page .insurance .content > div:nth-of-type(1), #course-page .self-pay .content > div:nth-of-type(1) {
    order: 2;
  }
  #course-page .insurance .content > div:nth-of-type(2), #course-page .self-pay .content > div:nth-of-type(2) {
    order: 1;
  }
}
#course-page .insurance .content h2:nth-of-type(1)::before, #course-page .self-pay .content h2:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  padding-right: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//heading-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#course-page .insurance .content h1, #course-page .insurance .content h2:nth-of-type(2), #course-page .self-pay .content h1, #course-page .self-pay .content h2:nth-of-type(2) {
  padding-bottom: 2rem;
}
#course-page .insurance .content p, #course-page .self-pay .content p {
  padding-bottom: 1rem;
}
#course-page .insurance .content .next-btn, #course-page .self-pay .content .next-btn {
  margin-top: 1rem;
  text-align: right;
  /* --- Flow用 --- */
}
@media screen and (max-width: 767px) {
  #course-page .insurance .content .next-btn, #course-page .self-pay .content .next-btn {
    text-align: center;
  }
}
#course-page .insurance .content .next-btn ol, #course-page .self-pay .content .next-btn ol {
  padding-top: 2rem;
  line-height: 3em;
}
@media screen and (max-width: 767px) {
  #course-page .insurance .content .next-btn ol, #course-page .self-pay .content .next-btn ol {
    padding-top: 1rem;
    margin-left: 1rem;
  }
}
#course-page .insurance img, #course-page .self-pay img {
  border-radius: 20px;
}

/* --- お知らせ（Newsページ） --- */
#news-page {
  /* --- お知らせ詳細 --- */
}
#news-page img {
  border-radius: 20px;
}
#news-page li {
  margin-left: -2rem;
  line-height: 1em;
}
@media screen and (max-width: 767px) {
  #news-page h2, #news-page h3, #news-page h4 {
    font-size: 24px;
  }
}
#news-page .news {
  display: grid;
  gap: 2rem;
  grid-template-columns: 3fr 1fr;
}
@media screen and (max-width: 767px) {
  #news-page .news {
    grid-template-columns: 1fr;
  }
}
#news-page .news section {
  display: grid;
  gap: 2rem;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 767px) {
  #news-page .news section {
    grid-template-columns: 1fr;
  }
}
#news-page nav {
  text-align: center;
  margin-bottom: 8rem;
}
#news-page nav .sp {
  display: none;
}
@media screen and (max-width: 767px) {
  #news-page nav {
    width: 100%;
  }
  #news-page nav .pc {
    display: none;
  }
  #news-page nav .sp {
    display: inline;
  }
}

/* --- お客様の声（Voiceページ） --- */
#voice-page .voice {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 4rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 899px) {
  #voice-page .voice {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
}
#voice-page .voice img {
  border-radius: 50% 50%;
}
@media screen and (max-width: 899px) {
  #voice-page .voice img {
    gap: 1rem;
    width: 60%;
  }
}
#voice-page .voice h3 {
  margin-bottom: 1rem;
}
@media screen and (max-width: 899px) {
  #voice-page .voice h3 {
    text-align: center;
  }
}

/* --- ご予約・お問い合わせページ --- */
#contact-page .wpforms-submit-container, #contact-thanks-page .wpforms-submit-container {
  text-align: center;
}
#contact-page .contact, #contact-thanks-page .contact {
  margin-bottom: 8rem;
}
#contact-page .contact .inquiry, #contact-thanks-page .contact .inquiry {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #1B9240;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 899px) {
  #contact-page .contact .inquiry, #contact-thanks-page .contact .inquiry {
    display: block;
  }
}
#contact-page .contact .inquiry a, #contact-thanks-page .contact .inquiry a {
  color: #FFFFFF;
}
#contact-page .contact .inquiry:hover, #contact-thanks-page .contact .inquiry:hover {
  background-color: #0C4324;
}
#contact-page .contact .inquiry, #contact-thanks-page .contact .inquiry {
  width: 30%;
}
@media screen and (max-width: 899px) {
  #contact-page .contact .inquiry, #contact-thanks-page .contact .inquiry {
    width: 100%;
  }
}

/*--- フッター ---*/
#footer {
  background-color: #F0F5E1;
}
#footer > h2 {
  text-align: center;
  padding-bottom: 2rem;
}
#footer > h2::before {
  content: "";
  display: inline-block;
  padding-right: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #footer > h2::before {
    padding-right: 1em;
  }
}
#footer > h2::after {
  content: "";
  display: inline-block;
  padding-left: 1.5em;
  height: 1em;
  background-image: url("../../assets/img//head-right.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  #footer > h2::after {
    padding-left: 1em;
  }
}
#footer .content {
  max-width: 960px;
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
  justify-content: space-between;
}
@media screen and (max-width: 899px) {
  #footer .content {
    flex-direction: column;
  }
}
#footer .content h2 {
  padding-bottom: 1rem;
}
#footer .content h2 > span {
  font-size: 0.8em;
}
#footer .content ul {
  padding-bottom: 1rem;
  list-style: none;
}
#footer .content img {
  padding-bottom: 1rem;
}
#footer .content .inquiry {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #1B9240;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.3s;
  text-decoration: none;
}
@media screen and (max-width: 899px) {
  #footer .content .inquiry {
    display: block;
  }
}
#footer .content .inquiry a {
  color: #FFFFFF;
}
#footer .content .inquiry:hover {
  background-color: #0C4324;
}
@media screen and (max-width: 899px) {
  #footer .content iframe {
    margin-top: 1rem;
    width: 100%;
  }
}
#footer .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  max-width: 960px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 899px) {
  #footer .nav {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media screen and (max-width: 767px) {
  #footer .nav {
    flex-direction: column;
    gap: 1.5em;
  }
}
#footer .nav nav {
  display: flex;
  gap: 1.5em;
}
@media screen and (max-width: 767px) {
  #footer .nav nav {
    flex-direction: column;
    text-align: center;
  }
}
#footer .nav nav > ul {
  display: flex;
  align-items: center;
  gap: 2em;
}
@media screen and (max-width: 899px) {
  #footer .nav nav > ul {
    flex-direction: column;
    row-gap: 1rem;
  }
}
#footer .nav nav > ul a {
  color: #0C4324;
}
#footer small {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  color: #FFFFFF;
  background-color: #468459;
}/*# sourceMappingURL=style.css.map */