/*--- コース ---*/
#course {
  padding-bottom: 8rem;
  background: $l-green url('../../img/back-icon2.png') bottom right no-repeat;
  @include media(sp) {
    background-size: 50% 20%;
  }
  > h2 {
    text-align: center;
    padding-bottom: 2rem;
    &:nth-of-type(1) {
      @include headerDeco();
    }
  }
  .content {
    position: relative;
    @include z(content);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    @include media(sp) {
      flex-direction: column;
      align-items: center;
    }
    h1 {
      position: absolute;
      top: -8rem;
      left: -10%;
      font-size: 8.5rem;
      color: $l-gray;
      opacity: 0.3;
      @include z(h-text);
      @include media(sp) {
        top: -4rem;
        left: 0%;
        font-size: 5rem;
      }
    }
    img, h3, ul {
      margin-bottom: 1rem;
    }
    img {
      border-radius: 20px;
    }
    li {
      margin-left: 2rem;
      line-height: 2rem;
    }

  }
  .btn {
    margin-top: 1rem;
    text-align: center;
    @include detail();
  }
}