/*--- お客様の声 ---*/
%voice-slide {
  [class^="img-"] {
    height: 20rem;
  }
  @for $num from 1 to 4 {
    .img-#{$num} {
      background: url('../img/slide-voice#{$num}.png') no-repeat center / cover ;
    }
  }
}

#voice {
  padding-bottom: 8rem;
  @include media(sp) {
    padding-bottom: 4rem;
  }
  .voice-main {
    position: relative;
    padding: 17rem 0 0 0;
    height: 20rem;
    @include semi-circle();
    @extend %voice-slide;
    .voice-slide {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 20rem;
    }
    h2 {
      position: absolute;
      top: 18rem;
      left: 50%;
      transform: translate(-50%, -50%);
      @include media(sp) {
        top: 19rem;
      }
      @include z(m-text);
      @include headerDeco();
    }
  }
  > h2 {
    text-align: center;
    padding: 2rem;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
    @include media(tb) {
      grid-template-columns: 1fr;
      text-align: center;
    }
    img {
      border-radius: 50% 50%;
      margin-bottom: 1rem;
    }
    h3 {
      margin-bottom: 1rem;
    }
  }
  .btn {
    margin-top: 1rem;
    text-align: center;
  }
  @include detail();
}